<selected-person *ngIf="selectedDude" [selectedPerson]="selectedDude"></selected-person>

<div *ngIf="psychology">
    <div class="row bottom-buffer">
        <div class="col-md-6 bottom-buffer">
            <div class="btn-group">
                <a class="btn btn-default" href="#" (click)="editReligion($event)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="#"><i class="fa fa-history"></i></a>
            </div>
            <strong>Religion: </strong><span>{{psychology.Religion || ""}}</span>
        </div>
        <div class="col-md-6 bottom-buffer">
            <div class="btn-group">
                <a class="btn btn-default" href="#" (click)="editPolAff($event)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="#"><i class="fa fa-history"></i></a>
            </div>

            <strong>Political affiliation: </strong><span>{{psychology.PoliticalAffiliation || ""}}</span>
        </div>

        <div class="col-md-6 bottom-buffer">
            <div class="btn-group">
                <a class="btn btn-default" href="#" (click)="editRelFreq($event)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="#"><i class="fa fa-history"></i></a>
            </div>

            <strong>Religious frequency: </strong><span *ngIf="psychology.ReligiousFrequency">{{(psychology.ReligiousFrequency | religiousFreq) === 'Select'? '': psychology.ReligiousFrequency | religiousFreq}}</span>
        </div>
        <div class="col-md-6 bottom-buffer">
            <div class="btn-group">
                <a class="btn btn-default" href="#" (click)="editSexOri($event)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="#"><i class="fa fa-history"></i></a>
            </div>

            <strong>Sexual orientation: </strong><span>{{psychology.SexualOrientation || ""}}</span>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 225px;">
                <!--<div class="panel-heading" style="border-bottom-style: solid;border-bottom-color: green;">
                    <h3 class="panel-title"><i class="fa fa-heart-o fa-fw"></i> Love language</h3>
                </div>-->
                <div class="panel-heading" style="border-bottom-style: solid;border-bottom-color: green;">
                    <h3 class="panel-title pull-left" style="padding-top: 8px"><i class="fa fa-heart-o fa-fw"></i> Love language</h3>
                    <a class="btn btn-primary pull-right btn-sm" (click)="choosell($event)" href="#"><i class="fa fa-pencil"></i></a>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    <div class="row bottom-buffer">
                        <div *ngIf="la" class="col-md-12 text-left columnspacing">
                            <div [class.hidden]="!psychology.LoveLanguage.aos" class="text-left">
                                <strong class="text-left">Acts of Service</strong>
                                <p class="text-left" [innerHTML]="la.Love['Acts of Service']"></p>
                            </div>
                            <div [class.hidden]="!psychology.LoveLanguage.pt" class="text-left">
                                <strong class="text-left">Physical Touch</strong>
                                <p class="text-left" [innerHTML]="la.Love['Physical Touch']"></p>
                            </div>
                            <div [class.hidden]="!psychology.LoveLanguage.qt" class="text-left">
                                <strong class="text-left">Quality Tim</strong>
                                <p class="text-left" [innerHTML]="la.Love['Quality Time']"></p>
                            </div>
                            <div [class.hidden]="!psychology.LoveLanguage.rg" class="text-left">
                                <strong class="text-left">Receiving Gifts</strong>
                                <p class="text-left" [innerHTML]="la.Love['Receiving Gifts']"></p>
                            </div>
                            <div [class.hidden]="!psychology.LoveLanguage.wof" class="text-left">
                                <strong class="text-left">Words of Affirmation</strong>
                                <p class="text-left" [innerHTML]="la.Love['Words of Affirmation']"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 225px;">
                <!--<div class="panel-heading" style="border-bottom-style: solid;border-bottom-color: green;">
                    <h3 class="panel-title"><i class="fa fa-frown-o fa-fw"></i> Anger Language</h3>
                </div>-->

                <div class="panel-heading" style="border-bottom-style: solid;border-bottom-color: green;">
                    <h3 class="panel-title pull-left" style="padding-top: 8px"><i class="fa fa-frown-o fa-fw"></i> Anger language</h3>
                    <a class="btn btn-primary pull-right btn-sm" (click)="chooseal($event)" href="#"><i class="fa fa-pencil"></i></a>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    <div class="row bottom-buffer">

                        <div *ngIf="la" class="col-md-12 text-left columnspacing">
                            <div [class.hidden]="!psychology.AngerLanguage.r" class="text-left">
                                <strong class="text-left">Reactive</strong>
                                <p class="text-left" [innerHTML]="la.Anger['Reactive']"></p>
                            </div>
                            <div [class.hidden]="!psychology.AngerLanguage.pa" class="text-left">
                                <strong class="text-left">Passive Aggressive</strong>
                                <p class="text-left" [innerHTML]="la.Anger['Passive Aggressive']"></p>
                            </div>
                            <div [class.hidden]="!psychology.AngerLanguage.av" class="text-left">
                                <strong class="text-left">Avoidant</strong>
                                <p class="text-left" [innerHTML]="la.Anger['Avoidant']"></p>
                            </div>
                            <div [class.hidden]="!psychology.AngerLanguage.d" class="text-left">
                                <strong class="text-left">Direct</strong>
                                <p class="text-left" [innerHTML]="la.Anger['Direct']"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Choose Love Lang -->
    <div id="chooseLL" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Choose love language</h4>
                </div>

                <div class="modal-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #wordsOfAffCb [(ngModel)]="psychology.LoveLanguage.wof"/> Words of Affirmation
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #actsOfServiceCb [(ngModel)]="psychology.LoveLanguage.aos" /> Acts of Service
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #receivingGiftsCb [(ngModel)]="psychology.LoveLanguage.rg"/> Receiving Gifts
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #qualityTimeCb [(ngModel)]="psychology.LoveLanguage.qt" /> Quality Time
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #wphysicakTouchCb [(ngModel)]="psychology.LoveLanguage.pt" /> Physical Touch
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="changell($event)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Choose Love Lang -->

    <!-- Choose Anger Lang -->
    <div id="chooseAL" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Choose love language</h4>
                </div>

                <div class="modal-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #reactiveCb [(ngModel)]="psychology.AngerLanguage.r" />Reactive
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #passiveAgressiveCb [(ngModel)]="psychology.AngerLanguage.pa" /> Passive Aggressive
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #avoidantCb [(ngModel)]="psychology.AngerLanguage.av" /> Avoidant
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" #directCb [(ngModel)]="psychology.AngerLanguage.d" /> Direct
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" (click)="changeAl($event)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Choose Anger Lang -->

    <!-- Edit Religion -->
    <div id="editReligionModal" style="display:none" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit religion</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="birthday" class="col-sm-3 control-label">Religion: </label>
                            <div class="col-sm-9">
                                <input (keyup.enter)="saveReligion($event, txtReligion.value)" type="text" placeholder="Enter religion" class="form-control" #txtReligion [value]="psychology.Religion" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closeRelgionModal($event,txtReligion)">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveReligion($event, txtReligion.value)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Religion -->

    <!-- Edit Sexual Orientation -->
    <div id="editSexOriModal" style="display:none" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit sexual orientation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sexual orientation: </label>
                            <div class="col-sm-7">
                                <input (keyup.enter)="saveSexOri($event, txtSexOri.value)" type="text"
                                       placeholder="Enter sexual orientation" class="form-control" #txtSexOri [value]="psychology.SexualOrientation" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closeSexOri($event,txtSexOri)">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveSexOri($event, txtSexOri.value)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Sexual Orientation -->

    <!-- Edit PolAff -->
    <div id="editPolAffModal" style="display:none" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit political affiliation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="birthday" class="col-sm-4 control-label">Political affiliation: </label>
                            <div class="col-sm-7">
                                <input (keyup.enter)="savePolAff($event, txtPolAff.value)" type="text" placeholder="Enter political affiliation" class="form-control" #txtPolAff [value]="psychology.PoliticalAffiliation" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closePolAff($event,txtPolAff)">Close</button>
                    <button type="button" class="btn btn-primary" (click)="savePolAff($event, txtPolAff.value)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit PolAff -->

    <!-- Edit RelFreq -->
    <div id="editRelFreqModal" style="display:none" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:430px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit religious frequency</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">

                            <div class="row dropdown clearfix">
                                <label class="col-sm-5 control-label">Religious frequency: </label>
                                <button class="btn btn-default dropdown-toggle col-sm-5" type="button" id="rftypesdd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ rfv | religiousFreq}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="left: 41%;" *ngIf="rfVals">
                                    <li *ngFor="#rf of rfVals" (click)="changeRf($event,rf)">
                                        <a href="#" [innerHtml]="rf | religiousFreq"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="closeRelFreq($event)">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveRelFreq($event)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit RelFreq -->
</div>
